In [12]:
import pandas as pd
import numpy as np
a=[[1000,25],[280,120],[900,30]]
b=np.array(a)
#print(b)
df= pd.DataFrame(b,index=['store1','store2','store3'],columns=['unit price','num'])
df

        unit price  num
store1        1000   25
store2         280  120
store3         900   30

In [10]:
import pandas as pd
import numpy as np
a=[[1000,25],[280,120],[900,30]]
b=np.array(a)
#print(b)
df= pd.DataFrame(b,index=['store1','store2','store3'],columns=['unit price','num'])
df['total price']=df['unit price'] * df['num']
df

        unit price  num  total price
store1        1000   25        25000
store2         280  120        33600
store3         900   30        27000

In [23]:
import pandas as pd
import numpy as np
a=[[1000,25],[280,120],[900,30]]
b=np.array(a)
#print(b)
df= pd.DataFrame(b,index=['store1','store2','store3'],columns=['unit price','num'])
df['total price']=df['unit price'] * df['num']
df2=df[df['total price']== np.max(df['total price'])]
df2

        unit price  num  total price
store2         280  120        33600